.customers {
  background: #ffffff;
}

.customers-title {
  text-align: center;
  margin-bottom: $typical-margin;

  @include desktop {
    @include font(36px, 700, 0.9);
    margin-bottom: $desktop-margin;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -30px;

  @include desktop {
    margin-bottom: 0;
    flex-wrap: nowrap;
  }
}

.customers__item {
  margin-right: $typical-margin;
  margin-bottom: $typical-margin;
  width: calc(100% / 2 - 30px);

  @include tablet {
    width: calc(100% / 3 - 30px);
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.customers__item:nth-child(2n) {
  margin-right: 0;
  @include tablet {
    margin-right: 30px;
  }
}

.customers__item:last-child {
  margin-bottom: 0;
  @include tablet {
    margin-right: 0;
  }
}

.customers__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.customers__item:nth-last-child(-n + 3) {
  @include tablet {
    margin-bottom: 0;
  }
}

.customers__item:nth-child(3) {
  @include tablet {
    margin-right: 0;
  }
  @include desktop {
    margin-right: 30px;
  }
}

.customers__link {
  max-width: 210px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color $typical-effect-time
      $typical-transition-timing-function,
    fill $typical-effect-time $typical-transition-timing-function;

  @include tablet {
    width: 226px;
  }

  @include desktop {
    width: 170px;
  }

  &:hover,
  &:focus,
  &:active {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
