.footer {
  background: $footer-bg-color;
  padding-top: $typical-padding;
  padding-bottom: $typical-padding;
  .container {
    display: flex;
    align-items: baseline;
  }
}

.footer-soc {
  margin-left: 70px;
}

.address {
  margin-top: 20px;
}

.contact-list {
  .contact-list__link {
    @include font(14px, null, 1.7);
    font-family: inherit;
    font-style: normal;

    color: #ffffff;
  }

  .contact-list__mail,
  .contact-list__tel {
    @include font(14px, null, 1.7);
    font-family: inherit;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
  }

  .contact-list__item {
    margin-bottom: 9px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}


.newsletter {
  margin-left: 93px;
}

.online-field {
  display: flex;
}

.online-input {
  @include font(16px, null);
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
  padding-left: 16px;
}
