.footer {
  background: $footer-bg-color;
  padding-top: $typical-padding;
  padding-bottom: $typical-padding;
  .container {
    text-align: center;
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    }
    @include desktop {
      text-align: left;
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }
}

.footer-box {
  margin-bottom: 60px;
  @include tablet {
    display: flex;
    align-items: baseline;
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.footer-soc {
  @include tablet {
    margin-left: 165px;
  }
  @include desktop {
    margin-left: 70px;
  }
}

.address {
  margin-top: 20px;
}

.contact-list {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 0;
  }
  .contact-list__link {
    @include font(14px, null, 1.7);
    font-family: inherit;
    font-style: normal;

    color: #ffffff;
  }

  .contact-list__mail,
  .contact-list__tel {
    @include font(14px, null, 1.7);
    font-family: inherit;
    font-style: normal;

    color: rgba(255, 255, 255, 0.6);
  }

  .contact-list__item {
    margin-bottom: 8px;
    @include desktop {
      margin-bottom: 9px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}

.newsletter {
  @include desktop {
  margin-left: 93px;
  }
}

.online-field {
  @include desktop {
  display: flex;
}
}

.online-input {
  width: 100%;
  height: 50px;
  @include font(16px, null);
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: #ffffff;
  margin-bottom: 30px;

  @include tablet {
    width: 450px;
  }

  @include desktop {
    display: flex;
    padding-left: 16px;
    margin-bottom: 0;
    width: 358px;
  }
}
