/* Хедер */
.header {
  border-bottom: 1px solid #ececec;
}

/* navigation */
.header .container,
.navigation {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

/* header-list */
.header-list {
  display: none;
  @include tablet {
    display: flex;
    margin-left: 93px;
    overflow: hidden;
  }

  .link {
    display: block;
    @include tablet {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}

.header-list__item {
  margin-right: $desktop-margin;
}
.header-list__item:last-child {
  margin-right: 0;
}

/* header-list__link */
.header-list__link,
.current {
  color: $header-color;
  position: relative;
  transition: color $typical-effect-time $typical-transition-timing-function;
}

.header-list__link:hover,
.header-list__link:focus,
.current {
  color: $accent-color;
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1%;
}

/* connect */
.connect {
  display: none;
  @include tablet {
    display: flex;
    margin-left: auto;
  }
  .connect__item + .connect__item {
    margin-left: $desktop-margin;
  }
}

.connect__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #757575;
  color: #757575;
  transition: color $typical-effect-time $typical-transition-timing-function;
}

.connect__link :hover,
.connect__link :focus,
.connect :hover,
.connect :focus {
  color: $accent-color;
  fill: $accent-color;
}

/* connect__icon */
.connect__icon {
  margin-right: 10px;
}
