.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
  }

  @include desktop {
    margin-bottom: $desktop-margin;
  }

  & :hover,
  & :focus,
  & :active {
    display: inline;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    color: $second-btn-color;
    background-color: $accent-color;
  }

  .menu-nav-item:last-child {
    margin-right: 0;
  }
}

.menu-nav-item {
  margin-right: 8px;
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
    @include tablet {
      margin-bottom: 0;
    }
  }
}

/* -----Категория все----- */
/* filters-list */
.filters-list {
  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }
  @include desktop {
    grid-template-columns: repeat(3, auto);
  }
}

.filters-item {
  max-width: 450px;
  margin-bottom: $typical-margin;
  @include tablet {
    margin-bottom: 0;
    max-width: 354px;
  }
  @include desktop {
    max-width: 370px;
  }
}

/* filters-link */
.filters-link {
  display: block;
  height: 100%;
  transition: box-shadow $typical-effect-time
    $typical-transition-timing-function;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.filters-cover-wrap {
  position: relative;
  overflow: hidden;
}

.filters-item-description {
  margin-bottom: $typical-margin;
  @include font(14px, null, 1.5);
  height: 100%;
  color: $second-color;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform $typical-effect-time $typical-transition-timing-function;
  padding: 40px 24px;
  @include mobile {
    @include font(18px, null, 1.5);
    padding: 77px 24px;
  }
  @include tablet {
    padding: 49px 24px 77px 24px;
  }
  @include desktop {
    padding: 63px 24px;
  }
}

.filters-link:hover .filters-item-description,
.filters-link:focus .filters-item-description {
  transform: translateY(0);
}

/* filters-name */
.filters-name {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

/* filters-text */
.filters-text {
  @include font(16px, null, 1.8);
  color: #757575;
}
