.logo,
.logo-secondary {
  font-family: $secondary-font-family;
  font-style: normal;
  color: #2196f3;
  @include font(24px, 700, 1.16);
  @include desktop {
    @include font(26px, 700);
  }
}

.logo-footer {
  font-family: $secondary-font-family;
  font-style: normal;
  margin-bottom: 20px;
  color: #ffffff;
  @include font(24px, 700, 1.16);

  @include desktop {
    @include font(26px, 700, 1.2);
  }
}
