.mob-menu {
  position: fixed;
  top: 0;
  background: $second-color;
  height: 100%;
  width: 100%;
  z-index: 5;
  padding: 48px 40px;
  transform: translateX(-100%);
  .container {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  @include tablet {
    display: none;
  }
}

.menu-open-btn,
.menu-close-btn {
  background: transparent;
  border: none;
  @include tablet {
    display: none;
  }
}

.icon-burger,
.icon-cross {
  fill: $first-btn-color;
}
