.soc-list {
  display: flex;
  justify-content: center;

  .soc-list__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.soc-list--left {
  .soc-list--left + .soc-list--left {
    margin-left: 10px;
  }
}

.soc-list__link--light {
  background-color: $second-btn-color;
  fill: #afb1b8;
  transition: background-color $typical-effect-time
      $typical-transition-timing-function,
    fill $typical-effect-time $typical-transition-timing-function;

  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color;
    fill: #ffffff;
  }
}
