:root {
  --typical-padding: 94px;
  --typical-margin: 50px;
  --typical-side: 215px;

  --typical-effect-time: 250ms;
  --typical-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: $main-font-family;
  color: $color;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
