$header-color: #212121;
$accent-color: #2196f3;
$title-color: #212121;
$first-btn-color: #212121;
$second-btn-color: #ffffff;
$footer-bg-color: #2f303a;
$second-color: #ffffff;

$color: #757575;

$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
